h1
{ 
    color :black;
}
body
{ 
    background-color:grey;
}
#carte 
{ 
    widows: 800px;
    margin:0 auto;
    background-color:white;
    text-align: center;
    align-content: center;


}
#bloc1
{ 
    widows: 800px;
    margin:0 auto;
    background-color:white;
    text-align: center;
    align-content: center;


}

p.images {
    widows: 800px;
    float: left;
    margin: 0 10px 0 0;
}