h1
{ 
    color :rgb(117, 204, 255);
}
#body2
{ 
    background-color:rgb(117, 204, 255);
}
body
{ 
    background-color:grey;
}
#carte 
{ 
    widows: 800px;
    margin:0 auto;
    background-color:white;
    text-align: center;
    align-content: center;


}
#bloc1
{ 
    widows: 800px;
    margin:0 auto;
    background-color:rgb(117, 204, 255);
    text-align: center;
    align-content: center;


}
